/*
 * 全体的なスタイル
 */
body {
    margin: 0;
    font-family: sans-serif;
    background-color: transparent;
    color: #fff;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 10;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 0 0 15px;
    font-size: 24px;
    color: #fff;
}

.tabs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 8px;
    margin-bottom: 15px;
    background-color: transparent;
}

/*
 * タブ（表示されていない時）
 */
.tab {
    width: 16.6%;
    padding: 8px 16px;
    height: 48px;
    line-height: 2;
    font-weight: bold;
    border: 2px solid transparent;
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    border-radius: 5px 5px 0 0;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 18px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
 * アクティブなタブ（表示されている時）
 */
.tab.active {
    height: 56px;
    font-size: 20px;
    border: none;
    border-bottom: none;
    background-color: transparent;
}

.tab.active,
.tab:hover {
    color: #fff;
}

.iframe-container {
    margin-top: 100px;
    width: 100%;
    height: calc(100vh - 100px);
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 540px) {
    header {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .tabs {
        gap: 5px;
        margin-bottom: 10px;
    }

    .tab {
        padding: 8px 15px;
        font-size: 13px;
        height: 40px;
    }
    
    .iframe-container {
        margin-top: 100px;
        height: calc(100vh - 100px);
    }
}